# MANAGED BY PUPPET - MANUAL CHANGES TO THIS FILE MAY BE OVERWRITTEN
# netdata fping.plugin configuration
<% unless scope['netdata::fping_bin'] == 'absent' -%>
fping="<%= scope['netdata::fping_bin'] %>"
<% end -%>
hosts="<%= scope['netdata::fping_hosts'].join(' ') %>"
<% unless scope['netdata::fping_update_every'] == 'absent' -%>
update_every=<%= scope['netdata::fping_update_every'] %>
<% end -%>
<% unless scope['netdata::fping_ping_every'] == 'absent' -%>
ping_every=<%= scope['netdata::fping_ping_every'] %>
<% end -%>
<% unless scope['netdata::fping_opts'] == 'absent' -%>
fping_opts=<%= scope['netdata::fping_opts'] %>
<% end -%>
