# MANAGED BY PUPPET - MANUAL CHANGES TO THIS FILE MAY BE OVERWRITTEN
# netdata configuration
<% scope['netdata::main_cfg'].each do |section, keys| -%>
[<%= section %>]
<% keys.each do |key, value| -%>
    <%= key %> = <%= value %>
<% end -%>
<% end -%>
